In [15]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sb

In [16]:
# Import csv 
fireball_df = pd.read_csv("Resources/cleaned_fireball_data.csv")
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2/2/2023 20:49,26.2,143.1,33.0,NaN,NaN,NaN,NaN,30000000000,0.10
1,1/22/2023 17:11,3.5,76.2,61.0,NaN,NaN,NaN,NaN,20000000000,0.07
2,1/17/2023 6:56,33.1,173.7,38.0,14.2,7.8,-5.6,-10.5,29000000000,0.10
3,1/11/2023 23:59,31.5,18.6,33.5,17.5,-16.1,4.5,-5.2,46000000000,0.15
4,1/9/2023 1:17,45.7,135.0,27.0,16.7,2.3,-0.4,16.5,90000000000,0.28
...,...,...,...,...,...,...,...,...,...,...
940,11/29/1993 17:48,26.5,78.3,NaN,NaN,NaN,NaN,NaN,26000000000,0.09
941,10/31/1993 3:39,51.3,100.9,NaN,NaN,NaN,NaN,NaN,40000000000,0.13
942,10/4/1991 9:22,78.7,6.3,NaN,NaN,NaN,NaN,NaN,550000000000,1.40
943,10/1/1990 3:51,7.5,142.8,NaN,NaN,NaN,NaN,NaN,2500000000000,5.20
944,4/15/1988 3:03,4.1,124.3,NaN,NaN,NaN,NaN,NaN,7580000000000,14.00

In [17]:
# Observe data types
fireball_df.dtypes

Peak Brightness Date/Time (UT)          object
Latitude (deg.)                        float64
Longitud (dg.)                         float64
Altitude (km)                          float64
Velocity (km/s)                        float64
vx                                     float64
vy                                     float64
vz                                     float64
Total Radiated Energy (J)                int64
Calculated Total Impact Energy (kt)    float64
dtype: object

In [18]:
# Convert Peak Brightness Date/Time column to datetime
fireball_df['Peak Brightness Date/Time (UT)'] = pd.to_datetime(fireball_df['Peak Brightness Date/Time (UT)'])
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-02-02 20:49:00,26.2,143.1,33.0,NaN,NaN,NaN,NaN,30000000000,0.10
1,2023-01-22 17:11:00,3.5,76.2,61.0,NaN,NaN,NaN,NaN,20000000000,0.07
2,2023-01-17 06:56:00,33.1,173.7,38.0,14.2,7.8,-5.6,-10.5,29000000000,0.10
3,2023-01-11 23:59:00,31.5,18.6,33.5,17.5,-16.1,4.5,-5.2,46000000000,0.15
4,2023-01-09 01:17:00,45.7,135.0,27.0,16.7,2.3,-0.4,16.5,90000000000,0.28
...,...,...,...,...,...,...,...,...,...,...
940,1993-11-29 17:48:00,26.5,78.3,NaN,NaN,NaN,NaN,NaN,26000000000,0.09
941,1993-10-31 03:39:00,51.3,100.9,NaN,NaN,NaN,NaN,NaN,40000000000,0.13
942,1991-10-04 09:22:00,78.7,6.3,NaN,NaN,NaN,NaN,NaN,550000000000,1.40
943,1990-10-01 03:51:00,7.5,142.8,NaN,NaN,NaN,NaN,NaN,2500000000000,5.20
944,1988-04-15 03:03:00,4.1,124.3,NaN,NaN,NaN,NaN,NaN,7580000000000,14.00

In [19]:
# Add a year column to be able to filter by year
fireball_df["year"] = fireball_df["Peak Brightness Date/Time (UT)"].dt.year
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt),year
0,2023-02-02 20:49:00,26.2,143.1,33.0,NaN,NaN,NaN,NaN,30000000000,0.10,2023
1,2023-01-22 17:11:00,3.5,76.2,61.0,NaN,NaN,NaN,NaN,20000000000,0.07,2023
2,2023-01-17 06:56:00,33.1,173.7,38.0,14.2,7.8,-5.6,-10.5,29000000000,0.10,2023
3,2023-01-11 23:59:00,31.5,18.6,33.5,17.5,-16.1,4.5,-5.2,46000000000,0.15,2023
4,2023-01-09 01:17:00,45.7,135.0,27.0,16.7,2.3,-0.4,16.5,90000000000,0.28,2023
...,...,...,...,...,...,...,...,...,...,...,...
940,1993-11-29 17:48:00,26.5,78.3,NaN,NaN,NaN,NaN,NaN,26000000000,0.09,1993
941,1993-10-31 03:39:00,51.3,100.9,NaN,NaN,NaN,NaN,NaN,40000000000,0.13,1993
942,1991-10-04 09:22:00,78.7,6.3,NaN,NaN,NaN,NaN,NaN,550000000000,1.40,1991
943,1990-10-01 03:51:00,7.5,142.8,NaN,NaN,NaN,NaN,NaN,2500000000000,5.20,1990
944,1988-04-15 03:03:00,4.1,124.3,NaN,NaN,NaN,NaN,NaN,7580000000000,14.00,1988

In [20]:
# Convert dataframe to sqlite file
engine = create_engine("sqlite:///fireball_project3.sqlite")

fireball_df.to_sql("fireball", con=engine, if_exists='replace', index=False)

945

In [21]:
# Convert Peak Brightness Date/Time column to show only the year
fireball_df['Peak Brightness Date/Time (UT)'] = fireball_df['Peak Brightness Date/Time (UT)'].dt.year
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt),year
0,2023,26.2,143.1,33.0,NaN,NaN,NaN,NaN,30000000000,0.10,2023
1,2023,3.5,76.2,61.0,NaN,NaN,NaN,NaN,20000000000,0.07,2023
2,2023,33.1,173.7,38.0,14.2,7.8,-5.6,-10.5,29000000000,0.10,2023
3,2023,31.5,18.6,33.5,17.5,-16.1,4.5,-5.2,46000000000,0.15,2023
4,2023,45.7,135.0,27.0,16.7,2.3,-0.4,16.5,90000000000,0.28,2023
...,...,...,...,...,...,...,...,...,...,...,...
940,1993,26.5,78.3,NaN,NaN,NaN,NaN,NaN,26000000000,0.09,1993
941,1993,51.3,100.9,NaN,NaN,NaN,NaN,NaN,40000000000,0.13,1993
942,1991,78.7,6.3,NaN,NaN,NaN,NaN,NaN,550000000000,1.40,1991
943,1990,7.5,142.8,NaN,NaN,NaN,NaN,NaN,2500000000000,5.20,1990
944,1988,4.1,124.3,NaN,NaN,NaN,NaN,NaN,7580000000000,14.00,1988

In [22]:
# save to CSV
fireball_df.to_csv("Resources/fireball_data_by_year.csv")

In [23]:
# Use groupby to get a count for sightings by year
fireball_grouped = fireball_df.sort_values('year')
fireball_grouped = fireball_grouped.groupby('year', as_index=False).count()

fireball_grouped

,year,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,1988,1,1,1,0,0,0,0,0,1,1
1,1990,1,1,1,0,0,0,0,0,1,1
2,1991,1,1,1,0,0,0,0,0,1,1
3,1993,2,2,2,0,0,0,0,0,2,2
4,1994,13,7,7,0,0,0,0,0,13,13
5,1995,21,9,9,0,0,0,0,0,21,21
6,1996,33,12,12,0,0,0,0,0,33,33
7,1997,21,14,14,1,0,0,0,0,21,21
8,1998,13,5,5,1,1,1,1,1,13,13
9,1999,30,22,22,5,0,0,0,0,30,30
10,2000,37,28,28,1,0,0,0,0,37,37
11,2001,22,7,7,1,0,0,0,0,22,22
12,2002,29,19,19,0,0,0,0,0,29,29
13,2003,37,17,17,5,2,2,2,2,37,37
14,2004,39,22,22,10,4,4,4,4,39,39
15,2005,45,38,38,32,8,8,8,8,45,45
16,2006,37,32,32,26,9,9,9,9,37,37
17,2007,23,21,21,15,6,6,6,6,23,23
18,2008,37,28,28,19,15,15,15,15,37,37
19,2009,34,26,26,17,7,7,7,7,34,34
20,2010,36,33,33,22,7,7,7,7,36,36
21,2011,31,23,23,15,5,5,5,5,31,31
22,2012,37,32,32,18,14,14,14,14,37,37
23,2013,24,20,20,16,11,11,11,11,24,24
24,2014,33,33,33,24,16,16,16,16,33,33
25,2015,45,45,45,35,22,22,22,22,45,45
26,2016,33,33,33,28,20,20,20,20,33,33
27,2017,29,28,28,25,16,16,16,16,29,29
28,2018,39,38,38,30,22,22,22,22,39,39
29,2019,42,40,40,35,28,28,28,28,42,42
30,2020,41,40,40,32,24,24,24,24,41,41
31,2021,32,31,31,28,20,20,20,20,32,32
32,2022,41,41,41,40,24,24,24,24,41,41
33,2023,6,6,6,6,3,3,3,3,6,6

In [24]:
# Rename column
fireball_grouped = fireball_grouped.rename(columns={"Latitude (deg.)": "count"})

# Change to display just year and count
fireball_grouped = fireball_grouped[['year', 'count']]
fireball_grouped = fireball_grouped.sort_values(['year'], ascending=False)
fireball_grouped

    year  count
33  2023      6
32  2022     41
31  2021     31
30  2020     40
29  2019     40
28  2018     38
27  2017     28
26  2016     33
25  2015     45
24  2014     33
23  2013     20
22  2012     32
21  2011     23
20  2010     33
19  2009     26
18  2008     28
17  2007     21
16  2006     32
15  2005     38
14  2004     22
13  2003     17
12  2002     19
11  2001      7
10  2000     28
9   1999     22
8   1998      5
7   1997     14
6   1996     12
5   1995      9
4   1994      7
3   1993      2
2   1991      1
1   1990      1
0   1988      1

In [25]:
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitud (dg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt),year
0,2023,26.2,143.1,33.0,NaN,NaN,NaN,NaN,30000000000,0.10,2023
1,2023,3.5,76.2,61.0,NaN,NaN,NaN,NaN,20000000000,0.07,2023
2,2023,33.1,173.7,38.0,14.2,7.8,-5.6,-10.5,29000000000,0.10,2023
3,2023,31.5,18.6,33.5,17.5,-16.1,4.5,-5.2,46000000000,0.15,2023
4,2023,45.7,135.0,27.0,16.7,2.3,-0.4,16.5,90000000000,0.28,2023
...,...,...,...,...,...,...,...,...,...,...,...
940,1993,26.5,78.3,NaN,NaN,NaN,NaN,NaN,26000000000,0.09,1993
941,1993,51.3,100.9,NaN,NaN,NaN,NaN,NaN,40000000000,0.13,1993
942,1991,78.7,6.3,NaN,NaN,NaN,NaN,NaN,550000000000,1.40,1991
943,1990,7.5,142.8,NaN,NaN,NaN,NaN,NaN,2500000000000,5.20,1990
944,1988,4.1,124.3,NaN,NaN,NaN,NaN,NaN,7580000000000,14.00,1988

In [26]:
# save to CSV
fireball_grouped.to_csv("Resources/fireball_year_count.csv",index=False)

In [27]:
fireball_alt_vel = fireball_df[['Latitude (deg.)', 'Longitud (dg.)', 'Altitude (km)', 'Velocity (km/s)']]
fireball_alt_vel = fireball_alt_vel.sort_values(['Altitude (km)'], ascending=False)
fireball_alt_vel = fireball_alt_vel.dropna(subset=['Latitude (deg.)', 'Longitud (dg.)', 'Altitude (km)', 'Velocity (km/s)'])
fireball_alt_vel.head(10)

     Latitude (deg.)  Longitud (dg.)  Altitude (km)  Velocity (km/s)
181             32.0            12.1           63.0             14.1
343             44.7            35.3           59.3             12.4
140             21.2           129.5           59.0             42.3
418              4.1            14.0           59.0             11.6
35               1.9            20.6           56.7             18.2
49              62.7            60.3           56.0             18.2
237              3.5            44.6           54.0             18.3
520             72.8           147.3           52.2             21.7
464             32.0            92.9           52.0             24.5
130             12.5           107.2           52.0             20.4