In [1]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

In [2]:
# Import csv 
fireball_df = pd.read_csv("Resources/cneos_fireball_data.csv")
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-02-02 20:49:22,26.2S,143.1W,33.0,NaN,NaN,NaN,NaN,3.000000e+10,0.100
1,2023-01-22 17:11:43,3.5N,76.2W,61.0,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,7.8,-5.6,-10.5,2.900000e+10,0.100
3,2023-01-11 23:59:50,31.5N,18.6E,33.5,17.5,-16.1,4.5,-5.2,4.600000e+10,0.150
4,2023-01-09 01:17:14,45.7S,135.0E,27.0,16.7,2.3,-0.4,16.5,9.000000e+10,0.280
...,...,...,...,...,...,...,...,...,...,...
940,1993-11-29 17:48:41,26.5N,78.3E,NaN,NaN,NaN,NaN,NaN,2.600000e+10,0.092
941,1993-10-31 03:39:27,51.3N,100.9W,NaN,NaN,NaN,NaN,NaN,4.000000e+10,0.130
942,1991-10-04 09:22:47,78.7N,6.3E,NaN,NaN,NaN,NaN,NaN,5.500000e+11,1.400
943,1990-10-01 03:51:47,7.5N,142.8E,NaN,NaN,NaN,NaN,NaN,2.500000e+12,5.200
944,1988-04-15 03:03:10,4.1S,124.3E,NaN,NaN,NaN,NaN,NaN,7.580000e+12,14.000

In [3]:
# Observe data types
fireball_df.dtypes

Peak Brightness Date/Time (UT)          object
Latitude (deg.)                         object
Longitude (deg.)                        object
Altitude (km)                          float64
Velocity (km/s)                        float64
vx                                     float64
vy                                     float64
vz                                     float64
Total Radiated Energy (J)              float64
Calculated Total Impact Energy (kt)    float64
dtype: object

In [4]:
# Convert Peak Brightness Date/Time column to datetime
fireball_df['Peak Brightness Date/Time (UT)'] = pd.to_datetime(fireball_df['Peak Brightness Date/Time (UT)'])
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-02-02 20:49:22,26.2S,143.1W,33.0,NaN,NaN,NaN,NaN,3.000000e+10,0.100
1,2023-01-22 17:11:43,3.5N,76.2W,61.0,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,7.8,-5.6,-10.5,2.900000e+10,0.100
3,2023-01-11 23:59:50,31.5N,18.6E,33.5,17.5,-16.1,4.5,-5.2,4.600000e+10,0.150
4,2023-01-09 01:17:14,45.7S,135.0E,27.0,16.7,2.3,-0.4,16.5,9.000000e+10,0.280
...,...,...,...,...,...,...,...,...,...,...
940,1993-11-29 17:48:41,26.5N,78.3E,NaN,NaN,NaN,NaN,NaN,2.600000e+10,0.092
941,1993-10-31 03:39:27,51.3N,100.9W,NaN,NaN,NaN,NaN,NaN,4.000000e+10,0.130
942,1991-10-04 09:22:47,78.7N,6.3E,NaN,NaN,NaN,NaN,NaN,5.500000e+11,1.400
943,1990-10-01 03:51:47,7.5N,142.8E,NaN,NaN,NaN,NaN,NaN,2.500000e+12,5.200
944,1988-04-15 03:03:10,4.1S,124.3E,NaN,NaN,NaN,NaN,NaN,7.580000e+12,14.000

In [5]:
# Convert Peak Brightness Date/Time column to show only the year
fireball_df['Peak Brightness Date/Time (UT)'] = fireball_df['Peak Brightness Date/Time (UT)'].dt.year
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023,26.2S,143.1W,33.0,NaN,NaN,NaN,NaN,3.000000e+10,0.100
1,2023,3.5N,76.2W,61.0,NaN,NaN,NaN,NaN,2.000000e+10,0.073
2,2023,33.1N,173.7W,38.0,14.2,7.8,-5.6,-10.5,2.900000e+10,0.100
3,2023,31.5N,18.6E,33.5,17.5,-16.1,4.5,-5.2,4.600000e+10,0.150
4,2023,45.7S,135.0E,27.0,16.7,2.3,-0.4,16.5,9.000000e+10,0.280
...,...,...,...,...,...,...,...,...,...,...
940,1993,26.5N,78.3E,NaN,NaN,NaN,NaN,NaN,2.600000e+10,0.092
941,1993,51.3N,100.9W,NaN,NaN,NaN,NaN,NaN,4.000000e+10,0.130
942,1991,78.7N,6.3E,NaN,NaN,NaN,NaN,NaN,5.500000e+11,1.400
943,1990,7.5N,142.8E,NaN,NaN,NaN,NaN,NaN,2.500000e+12,5.200
944,1988,4.1S,124.3E,NaN,NaN,NaN,NaN,NaN,7.580000e+12,14.000

In [6]:
# save to CSV
fireball_df.to_csv("Resources/fireball_data_years.csv")

In [7]:
# Use groupby to get a count for sightings by year
fireball_grouped = fireball_df.sort_values('Peak Brightness Date/Time (UT)')
fireball_grouped = fireball_grouped.groupby('Peak Brightness Date/Time (UT)', as_index=False).count()
fireball_grouped

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,1988,1,1,0,0,0,0,0,1,1
1,1990,1,1,0,0,0,0,0,1,1
2,1991,1,1,0,0,0,0,0,1,1
3,1993,2,2,0,0,0,0,0,2,2
4,1994,7,7,0,0,0,0,0,13,13
5,1995,9,9,0,0,0,0,0,21,21
6,1996,12,12,0,0,0,0,0,33,33
7,1997,14,14,1,0,0,0,0,21,21
8,1998,5,5,1,1,1,1,1,13,13
9,1999,22,22,5,0,0,0,0,30,30
10,2000,28,28,1,0,0,0,0,37,37
11,2001,7,7,1,0,0,0,0,22,22
12,2002,19,19,0,0,0,0,0,29,29
13,2003,17,17,5,2,2,2,2,37,37
14,2004,22,22,10,4,4,4,4,39,39
15,2005,38,38,32,8,8,8,8,45,45
16,2006,32,32,26,9,9,9,9,37,37
17,2007,21,21,15,6,6,6,6,23,23
18,2008,28,28,19,15,15,15,15,37,37
19,2009,26,26,17,7,7,7,7,34,34
20,2010,33,33,22,7,7,7,7,36,36
21,2011,23,23,15,5,5,5,5,31,31
22,2012,32,32,18,14,14,14,14,37,37
23,2013,20,20,16,11,11,11,11,24,24
24,2014,33,33,24,16,16,16,16,33,33
25,2015,45,45,35,22,22,22,22,45,45
26,2016,33,33,28,20,20,20,20,33,33
27,2017,28,28,25,16,16,16,16,29,29
28,2018,38,38,30,22,22,22,22,39,39
29,2019,40,40,35,28,28,28,28,42,42
30,2020,40,40,32,24,24,24,24,41,41
31,2021,31,31,28,20,20,20,20,32,32
32,2022,41,41,40,24,24,24,24,41,41
33,2023,6,6,6,3,3,3,3,6,6

In [8]:
# Change to display just year and count
fireball_grouped = fireball_grouped.rename(columns={"Latitude (deg.)": "count"})
fireball_grouped = fireball_grouped[['Peak Brightness Date/Time (UT)', 'count']]
fireball_grouped

    Peak Brightness Date/Time (UT)  count
0                             1988      1
1                             1990      1
2                             1991      1
3                             1993      2
4                             1994      7
5                             1995      9
6                             1996     12
7                             1997     14
8                             1998      5
9                             1999     22
10                            2000     28
11                            2001      7
12                            2002     19
13                            2003     17
14                            2004     22
15                            2005     38
16                            2006     32
17                            2007     21
18                            2008     28
19                            2009     26
20                            2010     33
21                            2011     23
22                            2012     32
23                            2013     20
24                            2014     33
25                            2015     45
26                            2016     33
27                            2017     28
28                            2018     38
29                            2019     40
30                            2020     40
31                            2021     31
32                            2022     41
33                            2023      6

In [9]:
# save to CSV
fireball_df.to_csv("Resources/fireball_year_count.csv",index=False)